<div id="<%= dom_id(question) %>" class="question">
  <%= turbo_stream_from dom_id(question) %>

  <p class="user-question" style="color: #008C99;"><%= question.user_question %></p>
  <p class="ai-answer"><%= question.ai_answer || "..." %></p>
</div>
