<div class="d-flex flex-column vh-100 mx-auto px-3 mt-5 bg-white" style="max-width: 1500px;">
  <h1 class="mb-3 mt-5 text-center">How can I help you?</h1>

  <div id="questions" class="flex-grow-1 overflow-auto p-2">
    <%= render @questions %>
  </div>

  <div class="bg-light p-3 border-top">
    <%= render "form", question: @question %>
  </div>
</div>
