<div class="d-flex flex-column mx-5 px-3 my-5 bg-white" style="height: calc(100vh - 250px);">
  <h2 class="mb-3 mt-5 text-center" style="font-size: 50px;">How can I help you?</h2>

  <div id="questions" class="flex-grow-1 overflow-auto p-2" style="font-size: 20px;">
    <p><%= render @questions %></p>
  </div>

  <div class="bg-light p-3 border-top" style="font-size: 20px;">
    <p><%= render "form", question: @question %></p>
  </div>
</div>
