// Define variables for your color scheme
$back: #E3EFF0; //customized for MedConnect

// For example:
$red: #FD1015;
$blue: #008C99; //customized for MedConnect
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
