.dr-container{
  justify-self: center;
  background-color: white;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  padding-right: 10px;
}
.picture-card{
  margin-top: 1px;
  padding-left: 100px;
  padding-top: 50px;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  .dr-img{
    img{
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
  }
  .picture-card-text{
    margin-left: 50px;
    width: 280px;
  }
  .card-info-aichtwo{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.doctor-service-card{
  height: 500px;
  text-align: center;
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  // border: 1px solid rgba(0, 0, 0, 0.1);

  .service{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 19px;
    position: relative;
    ul {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 30px;
      font-size: 18px;
      text-align:start;
    }
    h1 {
      margin: 0;
      margin-bottom: auto;
      color: $blue;
    }
  }

  .availability{
    // border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 19px;
    position: relative;
    .schedule{
      margin: 0;
      position: absolute;
      padding: 0 16px;
      display:flex;
      text-align: left;
      flex-direction: column;
      ul{
        padding: 0 0px;
        list-style-type: none;
      }
    }
    h1, h3{
      color: $blue;
    }
  }
  .price {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 19px;
    padding-bottom: 141px;
    position: relative;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    p {
      font-size: 18px;
    }
  }
}

.dr-languages-card{
  width: 100%;
  height: 150px;
  text-align: center;
  text-align: center;
  display: flex row;
  justify-items: center;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  .dr-languages{
    display: flex;
    align-content: center;
    // border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .language-rounded{
    margin: 20px;
    border: 2px solid $blue;
    padding: 5px 15px;
    border-radius: 15px;
  }
}

.education-card{
  width: 100%;
  height: 150px;
  background: white;
  text-align: center;
  text-align: center;
  justify-content: center;
  align-items:center;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  .education-text{
    font-size: 18px;
  }
}
#back-doctors{
  margin-bottom: 80px;
}

.colors{
  color: $blue;
}
