.dr-container {
  justify-self: center;
  background-color: white;
  width: 80%;
  align-content: center;
  justify-content: center;
  font-size: 21px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius:3px;
  padding-bottom: 55px;
  h3 { font-size: 32px;}
  h2 { font-size: 34px;}
}

.picture-card { // <---- flexbox
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 267px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }

  .picture-card-text{
    margin-left: 90px;

    #book {
      margin-top: 30px;
    }
  }
}

.doctor-service-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;

  .column {
    margin-bottom: 30px;
    padding-left: 20px;
  }

  ul{
    padding: 0 0px;
    margin-top: 20px;
    list-style-type: none;
    line-height: 2em;
  }
  .price{
    margin-top: 20px;
  }
}


.dr-centered-card { // <---- flexbox
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
  display: flex row;
  justify-items: center;
  line-height: 2em;

  h3 { margin-bottom: 35px;}

  .dr-languages{ // <---- flexbox
    display: flex;
    align-content: center;

    .language-rounded {
      margin: 15px;
      border: 2px solid $blue;
      padding: 3px 21px;
      border-radius: 10px;
      font-size: 21px;
    }
  }

}

#back-doctors{
  margin: 35px auto;
  font-size: 23px;
}
