  <div class="footer">
    <div class="footer-logo">
      <%= image_tag "logo_footer.png"%>
    </div>
    <div class="footer-text">
      © 2024 MedConnect. All rights reserved.
      <br>Connecting you with trusted healthcare professionals online.
      <br><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">FAQ</a> | <a href="#">Contact Us</a>
    </div>
  </div>
