<div class="navbar">
  <div>
    <span class="med">Med</span><span class="connect">Connect</span>
  </div>
  <div>
    <%= link_to "Home", root_path %>
    <a href="#">About</a>
    <%= link_to "Profile", profile_path %>
    <%= link_to "Get in touch", getintouch_path %>
    <%= link_to "Login", new_user_session_path %>
  </div>
</div>
