<div class="navbar">
  <div>
    <span class="med">Med</span><span class="connect">Connect</span>
  </div>
  <div>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
  </div>
</div>
