<div class="container">
  <!--Here goes the navbar-->
  <div class="navbar">
  </div>
 <!--Here goes the banner-->
  <div class="banner">
    <div class="banner-text">
    </div>
    <div class="banner-about">
      about
    </div>
    <div class="banner-bag-img">
      bag
    </div>
  </div>
  <!--Here goes the about-->
  <div class="about">
    <div class="about-img">
      about-img
    </div>
    <div class="about-text">
      about text
    </div>
  </div>
  <!--Here goes the categories-->
  <div class="categories">

    <div class="categories-text">
    </div>

    <div class="categories-icons">
      <!--Here goes icon1-->
      <div class="category-icon1">
      </div>
      <!--Here goes icon2-->
      <div class="category-icon2">
      </div>
      <!--Here goes icon3-->
      <div class="category-icon3">
      </div>
      <!--Here goes icon4-->
      <div class="category-icon4">
      </div>
      <!--Here goes icon5-->
      <div class="category-icon5">
      </div>
    </div>
  </div>
  <!--Here goes the location-->
  <div class="location">
  </div>
  <!--Here goes the services-->
  <div class="services">
    <div class="services-text">
    </div>
    <div class="services-cards">
      <!--Here goes the "services" card-->
      <div class="services-card-online">
        <div class="card-online-img">
          <div class="card-online-text">
          </div>
        </div>

      <!--Here goes the "findoctors" card-->
        <div class="card-findoctors-img">
          <div class="card-findoctors-text">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Here goes the footer-->
  <div class="footer">
  </div>
    <div class="footer-logo">
    </div>
    <div class="footer-text">
    </div>
</div>
