.about {
  height: 600px;
  width: 1200px;
  margin: auto;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 75%;
  left: 11%;
  background-color: white;
  opacity: 60%;
  display: flex;
}

.about img {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.about-text {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 80px;
  text-align: center;
}
.about-text h3 {
  font-size: 36px;
  font-family: 'Homemade Apple', serif;
  color: #008C99;
  position: absolute;
  top: 120px;
  left: 780px;
}
.about-text h1 {
  font-size: 64px;
}

.user-no {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
