.about {
  height: 600px;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 60%;
  display: flex;
}

@media(max-width: 875px) {
  .location h3 {
  display: none;
    }
  #city, #specialization, #languages {
    width: 100px;
  }
  .location {
    margin: 5px;
  }
  .st2p {
    font-size: 14px;
  }
  .card-online-text, .card-findoctors-text {
    font-size: 18px;
  }
}

@media(max-width: 1050px) {
  .our p {
    margin-bottom: 0;
  }
  .user-no {
    margin-top: 0;
  }
  .about img {
    display: none;
  }
}

@media(max-width: 1170px) {
  .about img{
    padding-left: 0;
  }
  .user-no {
    padding-top: 0;
  }
  #searchy {
    margin-right: 10px;
  }
}

@media(max-width: 1310px) {
  #city, #specialization, #languages {
    width: 110px;
  }
  .searchy {
  width: 100px;

  }

  .location h3 {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media(max-width: 1400px) {
  .about {
    margin-right: 900px;
    margin-left: 0;
  }
  .about img {
    padding-left: 0;
    width: 400px;
  }
  .about-text {
    padding-top: 50px;
    padding-left: 0;
  }
  .about-text p, .about-text h5, .about-text h3 {
    padding-bottom: 0;
  }

}

@media(max-width: 1455px) {
  #city, #specialization, #langauges {
    width: 150px;
  }
  .location h3 {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 1588px) {
  .location img{
      display: none;
  }
}

@media(max-width: 730px) {
  .location img{
      display: none;
  }
  #searchy {
  width: 80px;
  }
  #city, #specialization, #langauges {
    width: 80px;
  }
  .location input {
    font-size: 12px;
  }
}

.about-banner{
  position: relative;
}

.about img {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.about-text {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 80px;
  text-align: center;
}

.about-text p {
  font-size: 20px;
}

.about-title{
  position: relative;
}
.about-text h3 {
  font-size: 36px;
  font-family: 'Homemade Apple', serif;
  color: #008C99;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.about-text h5 {
  font-size: 64px;
}

.user-no {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.st1p {
  font-size: 57px;
}
