.toggle {
  position: relative;
}

.cardapp {
  // height: 300px;
  padding: 10px;
  width: 100%;
  position: absolute;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}

.appointment-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  height: max-content;
}
