.categories {
  margin-top: 600px;
  margin-bottom: 200px;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  // border: 1px solid rgba(0, 0, 0, 0.1);
}

.categories-text p {
  padding-top: 50px;
  font-size: 36px;
}

.categories-icons {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.categories-icons h3 {
  color: #008C99;
  padding-top: 20px;
}
.category-icon1 img{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 4px #008C99;
}

.category-icon1:hover {
  transform: scale(1.1);
  transition: transform 0.8s ease, color 0.8s ease;
}

@media(max-width: 1150px) {
  .category-icon1 img {
    width: 140px;
    height: 140px;
  }
}

@media(max-width: 872px) {
  .category-icon1 img {
    width: 100px;
    height: 100px;
  }

  .category-icon1 h3{
    font-size: 20px;
  }
}
