.doctor-index-aich1 {
  margin-top: 2rem;
  font-size: 4rem;
  color: $blue;
}

.doctor-index-aich2 {
  // margin-top: 26px;
  margin-bottom: 1rem;
  // font-size: 48px;
  color: $blue;
}

.doc-index-big-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 80%;
  // border: 2px solid blue;
}

@media(max-width: 992px) {
  .doc-index-big-div {
    grid-template-columns: 1fr;
  }
}

.doctor-card-frame{
  border-radius: 5px;
  border: 2px solid $blue;
}

.doctor-last_name{
  color: $blue;
}

.doctor-image{
  width: 170px;
  height: 170px;
  border-radius: 5px;
  // margin-right: 60px;
  object-fit: cover;
}

.information-button{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // height: 256px;
  flex-grow: 1;
}

.pees{
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
  // align-items: space-between;
}

.specialization-div{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.sec-headings-p, .sec-values-p {
  margin-bottom: 0px;
  font-size: 1.3rem;
  // margin-top: -12px;
  color: $blue;
}

.sec-headings-p {
  font-weight: 600;
}

.specialization > p{
  font-size: 22px;
}

.link-knopf{
  // width: 235px;
  background-color: $blue;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  transition: all 0.3s;
}

.link-knopf:hover{
transform: scale(1.1);
}
