.location {
  display: flex;
  width: 80%;
  height: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #008C99;
  border-radius: 10px;
  justify-content: end;
  position: relative;
}
.location img {
  position: absolute;
  height: 100px;
  top: -120%;
  left: 75px;
}

.location h3 {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.location-input {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  width: 200px;
}

.search-btn {
  padding: 5px 30px;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 50px;
}

//From here down it is for the other type of search box in the doctor's index view.(Some classes from the original search box are being borrowed in this new search box)//

.stacked-search-big{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: $blue;
  width: 270px;
  position: sticky;
  top: 100px;
  height: 258px;
}

.stacked-search{
  margin-bottom: 20px;
}

.submitt{
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px grey;
  width: 150px;
  transition: all 0.3s ease-in-out;
}

.submitt:hover{
  color: white;
  background-color: $blue;
  border: 1px solid white;
}

.stacked-search > input{
  width: 250px;
  font-size: 16px;
}

.card-search-big{
  // display: flex;
}
